/*variables a utilizar en otros archivos sass*/
$color-principal: #e6beae;
$tipografia-header: 'Dancing Script';
$borde:10px;
$sombra: 5px 5px 5px 5px rgba(0.1, 0.1, 0.1, 0.1);
$color-footer: #e6beae;
$transicion: scale(1.25);