  /* Estilos para encabezados h5 en el pie de página, centrados con una tipografía específica */
  footer {
    
      div {
        background-color: #e6beae;
          h5 {
              text-align: center;
              font-family: 'Dancing Script';
              font-size: 40px;
              text-decoration: none; 
              color: white;
              transition: 0.5s;
              &:hover {
                color: black;
                transform: scale(1.1);
                
          }
          
         
          }
          a {
            text-decoration: none; 
              }
          ul {
              div {
                  a {
                      .fa-brands {
                          width: 30px;
                          transition: 1s;

                          &:hover {
                              transform: rotate(360deg);

                          }

                      }
                      
                  }
                  
              }

          }
      }

  }

 
  .list-unstyled {
    text-align: center;
}
  .cont {
    margin-top: 50px;
  }