/*variables*/
@import "../var/variables";
/*estilos del header*/
  header{
    .container-fluid{
      background-color:$color-principal;
      .navbar-brand{
        margin-left: 20px;
        color: white;
        font-family: $tipografia-header;
        font-size: 45px;
        transition: 0.5s;
    &:hover{
      color: black;
      transform:scale(1.1);
    }
      }
      
        .navbar-nav{
          .nav-link{
            color: white;
            font-family: $tipografia-header;
            font-size: 30px;
            transition: 0.5s;
            &:hover{
              color: black;
              transform:scale(1.1);
            }
          }
        }
      }
    }
  